{% extends 'base.html.twig' %}

{% block body %}

    <h4>Changement de mot de passe</h4>


    {{ form_start(form) }}
    {{ form_widget(form) }}

    <button type="submit">Changer le mot de passe</button>
    {{ form_end(form) }}


{% endblock body %}