{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <hr>
        <h1>Changement de mot de passe</h1>
        <hr>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Changer le mot de passe</button>
        {{ form_end(form) }}

    </div>
{% endblock body %}