{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>Veuillez entrer votre nouveau mot de passe : </p>
        <hr>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button type="submit" class="btn btn-primary">Confirmer</button>
        {{ form_end(form) }}

    </div>




{% endblock body %}