{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <hr>
        <h1>Changement d'Email</h1>
        <hr>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit" class="btn btn-primary">Modifier Email</button>
        <a href="{{ path('member') }}" class="btn btn-primary">Retour</a>

        {{ form_end(form) }}

    </div>
{% endblock body %}
