{% extends 'base.html.twig' %}

{% block body %}
    <p>Veuillez entrer le Nom utilisé lors de l'inscription</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">Valider</button>
    {{ form_end(form) }}
{% endblock body %}