{% extends 'base.html.twig' %}


{% block title %}
    Création
{% endblock %}


{% block body %}
    <h1>Création</h1>
    <p>Formulaire de création d'un élément de collection</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    {{ form_end(form) }}

    <div class="divider"></div>
    <a href="{{ path('home') }}">Retour</a>

{% endblock %}
