{% extends 'base.html.twig' %}


{% block title %}
    Création
{% endblock %}


{% block body %}
    <h1>Création</h1>
    <p>Formulaire de création d'un élément de collection</p>

    {{ form_start(form) }}
    <div class="images" data-prototype="{{ form_widget(form.images.vars.prototype)|e('html_attr') }}">
    </div>

    <button type="submit">Ajout d'un nouvel élément</button>
    {{ form_end(form) }}

    <a href="{{ path('home') }}">Retour</a>

{% endblock %}
