/*
#monMenu{
    background-image: url("../images/bann.png") ;
}
*/
html {
    position: relative;
    min-height: 100%;
}
.footer{
    background-color: #31b0d5;
    position: absolute;
    width: 100%;
    bottom: 0;
}