{% extends 'base.html.twig' %}


{% block title %}
    Image
{% endblock %}


{% block body %}
    <h1>Ajout d'une nouvelle image</h1>
    <p>Formulaire de création d'une nouvelle image</p>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <button type="submit">ajout</button>
    {{ form_end(form) }}

    <div class="divider"></div>
    <a href="{{ path('home') }}">Retour</a>

{% endblock %}
