{% extends 'base.html.twig' %}


{% block title %}
    Création
{% endblock %}


{% block body %}
    <div class="container">
        <h1>Création de Catégories</h1>
        <h3>Formulaire de création d'une nouvelle Catégorie de Collections</h3>

        <hr>

        {{ form_start(form) }}
        {{ form_row(form.name, {label : 'Nom de la nouvelle Catégorie'}) }}
        <button type="submit" class="btn btn-primary">Créer une nouvelle Catégorie</button>
        {{ form_end(form) }}

        <div class="divider"></div>
        <a href="{{ path('home') }}">Retour</a>
    </div>


{% endblock %}
