{% extends 'base.html.twig' %}


{% block title %}
    Création de Catégorie
{% endblock %}


{% block body %}
    <div class="container">
        <hr>
        <h1>Création de Catégories</h1>
        <hr>
        <h3>Formulaire de création d'une nouvelle Catégorie de Collections</h3>
        <hr>

        {{ form_start(form) }}
        {{ form_row(form.category_collection) }}

        <button type="submit" class="btn btn-primary">Créer une nouvelle Catégorie</button>
        <a href="{{ path('home') }}" class="btn btn-primary">Retour</a>

        {{ form_end(form) }}

    </div>

{% endblock %}
