{% extends 'base.html.twig' %}

{% block body %}
    <p>bienvenue dans la page de vos collections</p>

        {{ form_start(form) }}
        {{ form_widget(form) }}

        <button type="submit">Voir mes collections</button>
        {{ form_end(form) }}


{% endblock body %}