{% extends 'base.html.twig' %}

{% block title %}
    Bienvenue sur la page d'accueil
{% endblock title %}

{% block body %}
    <p>Bienvenue, choisissez votre action</p>

    <p>
        <a href="newCategory">Ajouter une nouvelle catégorie</a>
    </p>

    <p>
        <a href="newCollection">Ajouter une nouvelle librairie</a>
    </p>

    <p>
        <a href="newComment">Ajouter un commentaire</a>
    </p>

    <p>
        <a href="newElement">Créer un nouvel élément de collection</a>
    </p>

    <p>
        <a href="newImage">Ajout d'une nouvelle image</a>
    </p>



    <p>
        <a href="{{ path('app_librairie_listlib') }}">Consulter les librairies</a>
    </p>


{% endblock body %}
