{% extends 'base.html.twig' %}

{% block title %}
    Création d'un nouvel utilisateur
{% endblock title %}

{% block body %}
    {% if not is_granted('ROLE_USER') %}
    <h1>Ajout d'un nouvel utilisateur</h1>

    {{ form_start(form) }}
    <button type="submit">Créer nouvel utilisateur</button>
    {{ form_end(form) }}
    <p>
        <a href="{{ path('home') }}">Retour</a>
    </p>
    {% endif %}

{% endblock body %}