<h3>Réinitialisez votre mot de passe</h3>

<p>Pour changer votre mot de passe veuillez cliquez sur le lien suivant : </p>

<a href="{{ url('recoveryToken', {'token' : token }) }}">Reset du mot de passe</a>

<p>Vous avez une heure pour procéder au changement du mot de passe, passé ce délais cet e-mail ne sera plus valide</p>

<p>Collec'Online</p>